body {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

hr {
  margin: 0.5rem 0;
}

/* Toggle Switch Styles */

input[type=checkbox].toggle {
	height: 0;
	width: 0;
	visibility: hidden;
}

label.toggle {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 100px;
  position: relative;
  margin: 0 10px 0 0 !important;
}

label.toggle:after {
	content: '';
	position: absolute;
	top: 1.25px;
	left: 1.25px;
	width: 22.5px;
	height: 22.5px;
	background: #fff;
	border-radius: 22.5px;
	transition: 0.3s;
}

input.toggle:checked + label.toggle {
	background: #bada55;
}

input.toggle:checked + label.toggle:after {
	left: calc(100% - 1.25px);
	transform: translateX(-100%);
}

label.toggle:active:after {
	width: 32.5px;
}