body {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 30px;
  margin: 20px 0;
}

.group {
  padding: 10px;
  margin-top: 20px;
}

#page {
  border-radius: 6px;
  max-width: 800px;
  width: 80%;
  margin-top: 50px;
  padding: 40px;
  padding-top: 20px;

  -webkit-box-shadow: -1px -2px 26px 8px rgba(0,0,0,0.18);
  -moz-box-shadow: -1px -2px 26px 8px rgba(0,0,0,0.18);
  box-shadow: -1px -2px 26px 8px rgba(0,0,0,0.18);
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 50px;
}

/* Input Styles */

#timer input {
  width: 75px;
  direction: rtl;
  background-color: #d8d8d8;
  border: none;
  border-radius: 8px;
}

#timer input[disabled] {
  background: none;
  color: black;
}

.center-button {
  width: 75%;
  margin: 15px;
}

/* Toggle Switch Styles */

input[type=checkbox].toggle {
	height: 0;
	width: 0;
	visibility: hidden;
}

label.toggle {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 100px;
  position: relative;
  margin: 0 10px 0 0 !important;
}

label.toggle:after {
	content: '';
	position: absolute;
	top: 1.25px;
	left: 1.25px;
	width: 22.5px;
	height: 22.5px;
	background: #fff;
	border-radius: 22.5px;
	transition: 0.3s;
}

input.toggle:checked + label.toggle {
	background: #bada55;
}

input.toggle:checked + label.toggle:after {
	left: calc(100% - 1.25px);
	transform: translateX(-100%);
}

label.toggle:active:after {
	width: 32.5px;
}