#parentalControlChromeExtensionOverlayTimer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 100000;
}

#parentalControlChromeExtensionOverlayTimer > div{
  padding: 5px 100px;
  background: rgb(240,105,38);
  background: linear-gradient(90deg, rgba(240,105,38, 0) 0%, 
    rgba(240,105,38, 0.9) 20%, rgba(240,105,38, 0.9) 80%, 
    rgba(240,105,38, 0) 100%);
}